body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "NotoSerifKR-Regular";
  font-family: var(--font-NotoSerif);
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
:root {
  --font-NotoSerif: "NotoSerifKR-Regular";
  --font-GowunBatang: "GowunBatang-Regular";
  --font-Apple: "SF-Pro-Display-Regular";
}
@font-face {
  font-family: "NotoSerifKR-Regular";
  src: url(/tear-by-bit-archive/static/media/NotoSerifKR-Regular.e159414dcce58cf60663.otf);
}
@font-face {
  font-family: GowunBatang-Regular;
  src: url(/tear-by-bit-archive/static/media/GowunBatang-Regular.5bb8c474edafaa216ee7.ttf);
}
@font-face {
  font-family: SF-Pro-Display-Regular;
  src: url(/tear-by-bit-archive/static/media/SF-Pro-Display-Regular.d95919824936a9bf4051.otf);
}
.modal {
  align-items: center;
  background-color: #fff;
  border: 0.5px solid #dedede;
  border-radius: 20px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
  left: 50%;
  margin-top: 50px;
  position: fixed;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 100;
}
.modal-header {
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
}
.modal-header img {
  width: 100%;
}
.modal-header:hover {
  cursor: pointer;
}
.modal-content {
  overflow-y: scroll;
}
@media screen and (max-width: 768px) {
  .modal {
    height: 500px;
    width: 90%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .menu-bar {
    height: 60px;
    width: 300%;
  }
  .buttons {
    right: 40px;
  }
}
.App {
  color: #252525;
  height: 100vh;
  text-align: center;
  text-align: left;
  width: 100vw;
}
.title-container {
  width: 100%;
}
.title-input {
  font-size: 50px;
  padding: 0 5px;
  width: 100%;
}
.content-container {
  margin: 35px 0;
}
.content-input {
  font-size: 18px;
  outline: none;
  padding: 5px 10px;
}
.author-input,
.phone-input {
  font-size: 18px;
  width: 100%;
}
.agree-container,
.author-input,
.button-container,
.phone-input {
  margin: 15px 0;
  padding: 0 10px;
}
button {
  background-color: #fff;
  border: 1px solid #b7b7b7;
  color: #1e1e1e;
  font-family: var(--font-NotoSerif);
  font-size: 18px;
  padding: 5px 15px;
}
hr {
  border: 0.5px solid #f8f8f8;
  margin: 10px 0;
}
button:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
button:disabled {
  background-color: #f5f5f5;
  color: #b7b7b7;
  cursor: not-allowed;
}
input {
  border: none;
  box-shadow: none;
  font-family: var(--font-NotoSerif);
  outline: none;
  overflow: auto;
  resize: none;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
[placeholder]:empty:before {
  color: #555;
  content: attr(placeholder);
}
[placeholder]:empty:focus:before {
  content: "";
}
.error {
  font-size: 13px;
  padding: 5px 10px;
}
.menu-bar {
  left: 0;
  position: fixed;
  top: 0;
}
.menu-bar,
.menu-bar img {
  width: 100%;
}
.front-image {
  height: auto;
  left: 50%;
  position: fixed;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 250px;
  z-index: -1;
}
.front-image img {
  width: 100%;
}
.buttons {
  position: fixed;
  right: 80px;
  top: 50px;
}
.image-button {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;
}
.image-button-image {
  height: auto;
  width: 80px;
}
.image-button:hover {
  cursor: pointer;
}
.button-name {
  font-family: var(--font-Apple);
  font-size: 18px;
  margin: 5px 0;
  text-align: center;
  text-shadow: 1px 1px 5px hsla(0, 0%, 53%, 0.361);
}
.quotation {
  border-left: 3px solid #b7b7b7;
  margin: 10px 0;
}
.no-deco-quotation {
  font-style: italic;
  margin: 10px 0;
}
@media screen and (max-width: 500px) {
  .menu-bar {
    height: 60px;
    width: 360%;
  }
  .buttons {
    right: 40px;
    top: 35px;
  }
  .App {
    width: 95%;
  }
  .title-input {
    font-size: 30px;
  }
  .author-input,
  .content-input,
  .phone-input {
    font-size: 14px;
  }
  button {
    font-size: 15px;
    padding: 5px 12px;
  }
  .image-button-image {
    height: auto;
    width: 60px;
  }
  .button-name {
    font-family: var(--font-Apple);
    font-size: 15px;
    margin: 5px 0;
    text-align: center;
    text-shadow: 1px 1px 5px hsla(0, 0%, 53%, 0.361);
  }
  .front-image {
    height: auto;
    width: 200px;
  }
  .front-image img {
    width: 100%;
  }
}
@media screen and (min-width: 501px) and (max-width: 1280px) {
  .menu-bar {
    height: 60px;
    width: 180%;
  }
  .buttons {
    right: 40px;
  }
}
/*# sourceMappingURL=main.108acc0e.css.map*/
